* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 16px;
}

body {
  background-color: #7eb3f0;
  color: black;
  margin: 3rem;
  font-size: 1.5rem;
}

h1 {
  font-size: 3rem;
  font-style: oblique;
}

td {
  padding: 1rem;
}
td input {
  margin: 1rem;
}
td input[type="checkbox"] {
  height: 2rem;
  width: 2rem;
}

/* Tabla */

.datatable {
  border-collapse: collapse;
  width: 100%;
}
.semana1,
.semana2 {
  background-color: #281ead;
  color: white;
}

.semana3,
.semana4 {
  background-color: #aa9901;
  color: white;
}

.semana5,
.semana6 {
  background-color: #92071e;
  color: white;
}

.semana7,
.semana8 {
  background-color: #047413;
  color: white;
}
